# Dependencies
node_modules/*
!node_modules/.gitkeep
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.*.local

# Build output
dist/*
!dist/.gitkeep
build/*
!build/.gitkeep
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Hardhat files
cache/*
!cache/.gitkeep
artifacts/*
!artifacts/.gitkeep
typechain-types/*
!typechain-types/.gitkeep

# Coverage
coverage/
coverage.json

# Logs
logs/
*.log

# Local development
.local/ 